src/flows/JBSystemFlow_Marketing_Interaction_c.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj2e6792151d44c71f48cc6247bd2a064c_FireJBTrigger</name>
        <label>SalesforceObj2e6792151d44c71f48cc6247bd2a064c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Account__c&quot;,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Marketing_Interaction__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj2e6792151d44c71f48cc6247bd2a064c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100035468</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;dePrefix&quot;:&quot;Marketing_Interaction__c:Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;Number_of_Orders__c&quot;,&quot;Preferred_Language__c&quot;,&quot;CA_Response_Communication_Method__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Marketing_Interaction__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CreatedDate&quot;,&quot;Source_Record_Id__c&quot;,&quot;Related_Information__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj2e6792151d44c71f48cc6247bd2a064c</name>
        <label>JB_Decision_Null_Check_SalesforceObj2e6792151d44c71f48cc6247bd2a064c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj2e6792151d44c71f48cc6247bd2a064c_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj2e6792151d44c71f48cc6247bd2a064c_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj2e6792151d44c71f48cc6247bd2a064c_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj2e6792151d44c71f48cc6247bd2a064c_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj2e6792151d44c71f48cc6247bd2a064c_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj2e6792151d44c71f48cc6247bd2a064c_Decision</name>
        <label>JB_SalesforceObj2e6792151d44c71f48cc6247bd2a064c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj2e6792151d44c71f48cc6247bd2a064c</name>
            <conditionLogic>(1 And  ( (2 AND 3)  AND  (4 AND 5) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Communication_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Product Onboarding - G6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121n0000015w5uAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account__r.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj2e6792151d44c71f48cc6247bd2a064c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj2e6792151d44c71f48cc6247bd2a064c</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Marketing_Interaction_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj2e6792151d44c71f48cc6247bd2a064c</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Interaction__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Interaction__c</objectType>
    </variables>
</Flow>
