src/flows/JBSystemFlow_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj0cf4419303204b4f7545a59d66f6ded1_FireJBTrigger</name>
        <label>SalesforceObj0cf4419303204b4f7545a59d66f6ded1_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj0cf4419303204b4f7545a59d66f6ded1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>515000435</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Order:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Order:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CreatedDate&quot;,&quot;TotalAmount&quot;,&quot;Price_Book__c&quot;,&quot;LastModifiedDate&quot;,&quot;Invoice_Total_Amount__c&quot;,&quot;Payment_Shipment_Info_Exist__c&quot;,&quot;Shipment_Confirmation_Email_Sent__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_FireJBTrigger</name>
        <label>SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>515000435</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Order:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Order:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CreatedDate&quot;,&quot;Price_Book__c&quot;,&quot;Shipment_Confirmation_Email_Sent__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj0cf4419303204b4f7545a59d66f6ded1</name>
        <label>JB_Decision_Null_Check_SalesforceObj0cf4419303204b4f7545a59d66f6ded1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj0cf4419303204b4f7545a59d66f6ded1_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</targetReference>
            </connector>
            <label>JB_SalesforceObj0cf4419303204b4f7545a59d66f6ded1_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj0cf4419303204b4f7545a59d66f6ded1_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj0cf4419303204b4f7545a59d66f6ded1_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj0cf4419303204b4f7545a59d66f6ded1_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</name>
        <label>JB_Decision_Null_Check_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj0cf4419303204b4f7545a59d66f6ded1_Decision</name>
        <label>JB_SalesforceObj0cf4419303204b4f7545a59d66f6ded1_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj0cf4419303204b4f7545a59d66f6ded1</name>
            <conditionLogic>( (1 AND  ( ( (2 AND 3)  AND 4)  AND  ( ( (5 OR 6)  OR 7)  OR 8) ) )  And  ( (9 AND 10)  AND  (11 AND 12) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLOSED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GB STANDARD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Shipment_Confirmation_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyI3AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyI4AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyI0AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyI1AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121n000000aSrQAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj0cf4419303204b4f7545a59d66f6ded1_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj0cf4419303204b4f7545a59d66f6ded1</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj0cf4419303204b4f7545a59d66f6ded1_State_change_Decision</name>
        <label>JB_SalesforceObj0cf4419303204b4f7545a59d66f6ded1_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj0cf4419303204b4f7545a59d66f6ded1</name>
            <conditionLogic>NOT  (1 AND  ( ( (2 AND 3)  AND 4)  AND  ( ( (5 OR 6)  OR 7)  OR 8) ) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLOSED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GB STANDARD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Shipment_Confirmation_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyI3AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyI4AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyI0AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyI1AAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj0cf4419303204b4f7545a59d66f6ded1_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj0cf4419303204b4f7545a59d66f6ded1</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_Decision</name>
        <label>JB_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</name>
            <conditionLogic>( (1 AND  ( ( (2 AND 3)  AND 4)  AND  ( (5 OR 6)  OR 7) ) )  And  ( (8 AND 9)  AND  (10 AND 11) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLOSED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GB STANDARD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Shipment_Confirmation_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyHvAAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyI2AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyqSAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121n000000aSrQAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_State_change_Decision</name>
        <label>JB_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</name>
            <conditionLogic>NOT  (1 AND  ( ( (2 AND 3)  AND 4)  AND  ( (5 OR 6)  OR 7) ) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLOSED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GB STANDARD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Shipment_Confirmation_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyHvAAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyI2AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Price_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01s1n000007yyqSAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj98cc67a06dc9f79c7f1dccf2fe8e7178</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Order</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj0cf4419303204b4f7545a59d66f6ded1</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
