src/flows/JBSystemFlow_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjbb98b000bf2bb938ffa47325d3a60721_FireJBTrigger</name>
        <label>SalesforceObjbb98b000bf2bb938ffa47325d3a60721_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Lead&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjbb98b000bf2bb938ffa47325d3a60721</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>515000436</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;CreatedDate&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Cancelled_Reasons__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjbb98b000bf2bb938ffa47325d3a60721</name>
        <label>JB_Decision_Null_Check_SalesforceObjbb98b000bf2bb938ffa47325d3a60721</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjbb98b000bf2bb938ffa47325d3a60721_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjbb98b000bf2bb938ffa47325d3a60721_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjbb98b000bf2bb938ffa47325d3a60721_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjbb98b000bf2bb938ffa47325d3a60721_Decision</name>
        <label>JB_SalesforceObjbb98b000bf2bb938ffa47325d3a60721_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjbb98b000bf2bb938ffa47325d3a60721</name>
            <conditionLogic>(1 AND  (2 OR 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121n000000aSr4AAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121n000000aSr5AAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjbb98b000bf2bb938ffa47325d3a60721_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjbb98b000bf2bb938ffa47325d3a60721</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjbb98b000bf2bb938ffa47325d3a60721_State_change_Decision</name>
        <label>JB_SalesforceObjbb98b000bf2bb938ffa47325d3a60721_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjbb98b000bf2bb938ffa47325d3a60721</name>
            <conditionLogic>NOT  (1 AND  (2 OR 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121n000000aSr4AAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121n000000aSr5AAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjbb98b000bf2bb938ffa47325d3a60721_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjbb98b000bf2bb938ffa47325d3a60721</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjbb98b000bf2bb938ffa47325d3a60721</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
