src/flows/Update_Benefit_Claims_Mailing_Address.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Flow updates Benefit Claims Mailing Address on record creation. This is invoked from Process Builder</description>
    <interviewLabel>Update Benefit Claims Mailing Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Benefit Claims Mailing Address</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Benefit</name>
        <label>Lookup Benefit</label>
        <locationX>220</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Payor_Billing_Address</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBenefitId</elementReference>
            </value>
        </filters>
        <object>Benefit__c</object>
        <outputReference>benefitRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Payor__c</queriedFields>
        <queriedFields>Claims_Mailing_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Payor_Billing_Address</name>
        <label>Lookup Payor Billing Address</label>
        <locationX>217</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Benefit_Record_With_Claims_Mailing_Address</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>benefitRecord.Payor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bill To</stringValue>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>payorBillingAddress</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Benefit_Record_With_Claims_Mailing_Address</name>
        <label>Update Benefit Record With Claims Mailing Address</label>
        <locationX>213</locationX>
        <locationY>471</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBenefitId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Claims_Mailing_Address_Name__c</field>
            <value>
                <elementReference>payorBillingAddress.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Benefit__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Benefit</startElementReference>
    <status>Active</status>
    <variables>
        <name>benefitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit__c</objectType>
    </variables>
    <variables>
        <name>payorBillingAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>varBenefitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
