src/flows/Update_Quote_Line_Item_Number_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_the_collection</name>
        <label>Add to the collection</label>
        <locationX>624</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>VarOne</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollUpdatedQuotesLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SoQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Line_Item_Number</name>
        <label>Assign Quote Line Item Number</label>
        <locationX>622</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>SoQuoteLineItem.Quote_Line_Item_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_collection</targetReference>
        </connector>
    </assignments>
    <description>Flow to update Quote Line Item Number on Quote Line Items</description>
    <interviewLabel>Update Quote Line Item Number Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Quote Line Item Number Flow</label>
    <loops>
        <name>Loop_Quote_Line_Items</name>
        <label>Loop Quote Line Items</label>
        <locationX>374</locationX>
        <locationY>391</locationY>
        <assignNextValueToReference>SoQuoteLineItem</assignNextValueToReference>
        <collectionReference>CollQuotesLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quote_Line_Item_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FastUpdateQuoteLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FLQuoteLineItemNumber</name>
        <label>FLQuoteLineItemNumber</label>
        <locationX>374</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarQuoteID</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>CollQuotesLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SortOrder</queriedFields>
        <sortField>Product_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>FastUpdateQuoteLineItem</name>
        <label>FastUpdateQuoteLineItem</label>
        <locationX>371</locationX>
        <locationY>532</locationY>
        <inputReference>CollUpdatedQuotesLineItem</inputReference>
    </recordUpdates>
    <startElementReference>FLQuoteLineItemNumber</startElementReference>
    <status>Active</status>
    <variables>
        <name>CollQuotesLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>CollUpdatedQuotesLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>SoQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <description>DEfault to 1</description>
        <name>VarOne</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
