src/flows/Update_on_Account_Create_or_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Phone Fields Updated?</label>
        </rules>
    </decisions>
    <description>This process fires when there is any change in Account</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK([Account].PersonMobilePhone )), &apos;Mobile&apos;, 
IF(NOT(ISBLANK([Account].Phone )), &apos;Work&apos;,
IF(NOT(ISBLANK([Account].PersonHomePhone )), &apos;Home&apos;,
IF(NOT(ISBLANK([Account].PersonOtherPhone )), &apos;Other&apos;, &apos;&apos;))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_7118723356</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!myVariable_current.PersonMobilePhone} )), &apos;Mobile&apos;, 
IF(NOT(ISBLANK({!myVariable_current.Phone} )), &apos;Work&apos;,
IF(NOT(ISBLANK({!myVariable_current.PersonHomePhone} )), &apos;Home&apos;,
IF(NOT(ISBLANK({!myVariable_current.PersonOtherPhone} )), &apos;Other&apos;, &apos;&apos;))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
	AND(
		ISNEW(),
		ISBLANK(TEXT([Account].Primary_Phone_Contact__c)),
		OR(
			NOT(ISBLANK([Account].Phone)),
			NOT(ISBLANK([Account].PersonMobilePhone)),
			NOT(ISBLANK([Account].PersonHomePhone)),
			NOT(ISBLANK([Account].PersonOtherPhone))
		)
	),
	AND(
		ISBLANK(TEXT([Account].Primary_Phone_Contact__c)),
		OR(
			ISCHANGED([Account].Phone),
			ISCHANGED([Account].PersonMobilePhone),
			ISCHANGED([Account].PersonHomePhone),
			ISCHANGED([Account].PersonOtherPhone),
			ISCHANGED([Account].Primary_Phone_Contact__c)
		)
	)	
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
	AND(
		ISNEW(),
		ISBLANK(TEXT({!myVariable_current.Primary_Phone_Contact__c})),
		OR(
			NOT(ISBLANK({!myVariable_current.Phone})),
			NOT(ISBLANK({!myVariable_current.PersonMobilePhone})),
			NOT(ISBLANK({!myVariable_current.PersonHomePhone})),
			NOT(ISBLANK({!myVariable_current.PersonOtherPhone}))
		)
	),
	AND(
		ISBLANK(TEXT({!myVariable_current.Primary_Phone_Contact__c})),
		OR(
			ISCHANGED({!myVariable_current.Phone}),
			ISCHANGED({!myVariable_current.PersonMobilePhone}),
			ISCHANGED({!myVariable_current.PersonHomePhone}),
			ISCHANGED({!myVariable_current.PersonOtherPhone}),
			ISCHANGED({!myVariable_current.Primary_Phone_Contact__c})
		)
	)	
)</expression>
    </formulas>
    <interviewLabel>Update_on_Account_Create_or_Update-1_InterviewLabel</interviewLabel>
    <label>Update on Account Create or Update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Primary Phone Contact</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Primary Phone Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Primary_Phone_Contact__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_7118723356</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
