src/flows/Update_Claims_Mailing_Address_On_Benefit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_To_Collection_To_Be_Updated</name>
        <label>Add To Collection To Be Updated</label>
        <locationX>722</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>benefitsCollectionToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>benefit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Benefits_To_Update_Claims_Mailing_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payor_Primary_Address_To_Benefit</name>
        <label>Assign Payor Primary Address To Benefit</label>
        <locationX>565</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>benefit.Claims_Mailing_Address_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billToAddress.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_To_Be_Updated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Primary_Bill_To_Address_Exist</name>
        <label>Check If Primary Bill To Address Exist</label>
        <locationX>109</locationX>
        <locationY>327</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Primary_Bill_To_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>billToAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Benefits_Tied_To_Payor</targetReference>
            </connector>
            <label>Primary Bill To Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_There_Are_Any_Benefits_To_Be_Updated</name>
        <label>Check If There Are Any Benefits To Be Updated</label>
        <locationX>837</locationX>
        <locationY>327</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Benefits_Exists_To_Be_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>benefitsCollectionToBeUpdated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Benefits</targetReference>
            </connector>
            <label>Benefits Exists To Be Updated</label>
        </rules>
    </decisions>
    <description>Jagan 07/24/2017 - Flow updates the claims mailing address for all benefits, which are tied to the Payor when the Payor&apos;s billing address is changed.</description>
    <interviewLabel>Update Claims Mailing Address On Benefit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Claims Mailing Address On Benefit</label>
    <loops>
        <name>Loop_Through_Benefits_To_Update_Claims_Mailing_Address</name>
        <label>Loop Through Benefits To Update Claims Mailing Address</label>
        <locationX>565</locationX>
        <locationY>330</locationY>
        <assignNextValueToReference>benefit</assignNextValueToReference>
        <collectionReference>benefitsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Payor_Primary_Address_To_Benefit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_There_Are_Any_Benefits_To_Be_Updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Benefits_Tied_To_Payor</name>
        <label>Lookup Benefits Tied To Payor</label>
        <locationX>368</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Benefits_To_Update_Claims_Mailing_Address</targetReference>
        </connector>
        <filters>
            <field>Payor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varId</elementReference>
            </value>
        </filters>
        <object>Benefit__c</object>
        <outputReference>benefitsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Claims_Mailing_Address_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Payor_Primary_Address</name>
        <label>Lookup Payor Primary Address</label>
        <locationX>111</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Primary_Bill_To_Address_Exist</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bill To</stringValue>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>billToAddress</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Benefits</name>
        <label>Update Benefits</label>
        <locationX>1154</locationX>
        <locationY>336</locationY>
        <inputReference>benefitsCollectionToBeUpdated</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Payor_Primary_Address</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>benefit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit__c</objectType>
    </variables>
    <variables>
        <name>benefitsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit__c</objectType>
    </variables>
    <variables>
        <name>benefitsCollectionToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit__c</objectType>
    </variables>
    <variables>
        <name>billToAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>varId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
